.label {
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-slate-500);
    line-height: 1.5;
}

.input {
    font-weight: 500;
    font-size: 1rem;
    /* padding: 1.25rem 2.5rem; */
    border-radius: 0.5rem;
    color: var(--color-gray-500);
    &:focus {
        border-color: var(--mantine-color-ocean-blue-6);
        box-shadow: 0 0 0 5px rgba(59, 130, 246, 0.1),
          0 0 0 2px rgb(59, 130, 246);
    }

    &[data-error="true"] {
        @apply border-red-500;
        &:focus {
            border-color: rgb(239, 68, 68);
            box-shadow: 0 0 0 5px rgba(239, 68, 68, 0.1),
                0 0 0 2px rgb(239, 68, 68);
        }
    }
}

/* .input:focus-within{
    border-color: var(--mantine-color-ocean-blue-6)
} */

.input:disabled {
    background-color: var(--color-gray-200) ;
    color: var(--color-gray-900);
    border: 1px solid var(--color-gray-300) ;
    cursor: default;
}

.input::placeholder {
    color: var(--color-gray-400);
}

.input:disabled::placeholder {
    color: var(--color-gray-600) !important;
}

.button {
  /* Mobile-first: Set 'xl' dimensions as base */
  --button-height: 3.25rem; 
  --button-fz: 1.15rem;     
  --button-padding-x: 1.5rem; 

    /* Desktop: Override variables at the 768px (48em) breakpoint */
    @media (min-width: 48em) {
        --button-height: 2.625rem; /* 42px (standard 'md' size) */
        --button-fz: 1rem;         /* 16px */
        --button-padding-x: 1.375rem; /* 22px */
    }
}



