@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}


html {
    font: clamp(12px, 12px + 0.4vw ,18px)/1.5 Lato, sans-serif;
}

body, input, textarea, select, option, button {
    font: inherit;
}

div#root{
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}




