@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

  

/* 
Because Mantine already adds resets this is commented out
html{
  box-sizing: border-box;
} 

 *, *::before, *::after{
  box-sizing: inherit;
}

body, input, textarea, select, option, button {
    font: inherit;
} */


html {
    font: clamp(12px, 12px + 0.4vw ,18px)/1.5 Lato, sans-serif;
}


div#root{
  /* background-color: #f4f4f4; */
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}




