.created_items {
    padding: 2rem 0;
    background-color: #fff;
    margin: 1rem ;
    animation: fadeIn 3s;
    /* border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .created_items:hover{
     transform: translateY(-10px); 
     box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2); 
} */


.created_items h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.created_items h3::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #0073e6;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.items_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
