.loginHero {
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.loginHeroH2 {
    margin: 0 0 10px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff9900;
}

.loginHeroP {
    margin: 0 0 20px;
    font-size: 1.2rem;
    color:#0073e6;
    font-weight: bold;
}

.formGroup {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroupInput {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 0.4em solid #52b69a;
    border-radius: 5px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    background: #0073e6;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    &:disabled{
        background-color: gray;
    }
    &:hover{

        background: #005bb5;
        transform: translateY(-5px);
    }
}

.registerP {
    text-align: center;
    margin-top: 15px;
}

.registerPA {
    color: #0073e6;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}


/* error */
.error {
    text-align: left;
    border-radius: 0.5em;
    color: red!important;
    padding-top: 0;
    font-weight: bold;
}
.inputError {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 0.4em solid;
    border-radius: 5px;
    border-left-color: red!important;
    border-color: red !important;
}


