.editProfStack{
    padding: 0 calc((100% - 30rem)/2);
    background-color: #fff;
    margin: 1rem ;
    animation: fadeIn 3s;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2); 
    }
}

.deleteAccBtn {
    align-self: center;
}

.dangerSoneLegend{
    color: var(--mantine-color-pink-filled);
}

.dangerSoneBorder{
    border-color: var(--mantine-color-pink-filled);
}
